
* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  padding: 20px;
  /* display: flex; */
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  color: #333;
}
.navbar h1 span {
  color: #f0472a;
  margin-left: 6px;
}
/* .navbar .links {
  margin-left: 6px;
} */
.navbar a {
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover span:hover {
  color: #f0472a;
}
.content {
  margin: 40px auto;
  padding: 20px;
}

:root {
  --top-indent: 115px;
}

.main {
  top: var(--top-indent);
  position: relative;
}

.static-item {
  position: sticky;
  top: var(--top-indent);
}

body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer {
    background-color: #f1f1f1;
    color: black;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    flex-direction: column;
    
  }

  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:1.0em;

  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#f0472a;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  
}