* {
    font-family: 'Nunito Sans', sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: 'wdth' 100,
    'YTLC' 500;
}

@font-face {
    font-family: 'Nunito Sans';
    src: local('Nunito Sans'), url('../fonts/NunitoSans.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1; /* This makes the main content expand to fill available space */
    margin-top: var(--top-indent);
    /* Add bottom padding to make space for the footer */
    padding: 0px 20px 120px;
}

.main-homepage-background {
    flex: 1; /* This makes the main content expand to fill available space */
    margin-top: var(--top-indent);
    /* Add bottom padding to make space for the footer */
    padding: 20px 20px 120px;
    background-image: linear-gradient(to right, rgb(255, 255, 255) 15%, transparent 100%), url('../resources/homepage.jpg'); /* Adjust the path as needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%; /* Ensure the container takes full width */
}

footer {
    background-color: #f1f1f1;
    color: black;
    text-align: left;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80px;
    margin-top: auto; /* Ensures the footer is pushed to the bottom */
    z-index: 0; /* Ensure footer has a lower z-index */
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
}

.footer-content div {
    margin: 0 1rem;
}

.footer-links a {
    text-decoration: none;
    transition: 0.5s;
    font-weight: bold;
    color: black;
}

.footer-links span {
    color: gray;
    display: block;
}


.footer-contact a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer-links a:hover,
.footer-contact a:hover {
    color: #f0472a;
}

.footer-support span,
.footer-contact span {
    color: gray;
    display: block;
}

.footer-support .highlight,
.footer-contact .highlight {
    font-weight: bold;
    color: black;
}

.footer-copyright {
    text-align: center;
    margin-top: 1rem;
    color: gray;
    width: 100%;
}

@media (max-width: 720px) {
    footer {
        text-align: center;
        padding: 2rem;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-content div {
        margin: 0.5rem 0;
        width: 100%; /* Items stretch to full width */
    }
}

/* Additional Styles */
.navbar {
    padding: 20px;
    align-items: center;
    margin: 0 auto;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    color: #333;
}

.navbar h1 span {
    color: #f0472a;
    margin-left: 6px;
}

.navbar a {
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover span:hover {
    color: #f0472a;
}

.content {
    margin: 20px auto;
    padding: 20px;
    width: 800px;
    max-width: 800px;
    align-self: center;
}

.profile_menu {
    padding-left: 12px;
}

.navbar-image {
    width: 50px;
    height: 50px;
}

:root {
    --top-indent: 135px;
}

.static-item {
    position: sticky;
    top: var(--top-indent);
}

/* .main {
  background-image: linear-gradient(to right, rgb(255, 255, 255) 20%, transparent 100%), url('../resources/homepage.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%; 
} */
