
* {
  margin: 0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #333;
}
.navbar {
  padding: 20px;
  /* display: flex; */
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f0472a;
  margin-left: 6px;
}
/* .navbar .links {
  margin-left: 6px;
} */
.navbar a {
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f0472a;
}
.content {
  margin: 40px auto;
  padding: 20px;
}

