
* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar {
  padding: 20px;
  /* display: flex; */
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  color: #333;
}
.navbar h1 span {
  color: #f0472a;
  margin-left: 6px;
}
/* .navbar .links {
  margin-left: 6px;
} */
.navbar a {
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover span:hover {
  color: #f0472a;
}
.content {
  margin: 40px auto;
  padding: 20px;
}

:root {
  --top-indent: 115px;
}

.main {
  top: var(--top-indent);
  position: relative;
}

.static-item {
  position: sticky;
  top: var(--top-indent);
}

body {
  margin: 0;
  overflow-x: hidden;
}

.footer {
  background-color: #f1f1f1;
  color: black;
  text-align: left;
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  
  gap: 2rem;
}

.footer-content div {
  margin: 0 1rem;
}

.footer-links a, .footer-contact a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer-links a:hover, .footer-contact a:hover {
  color: #f0472a;
}

.footer-support span, .footer-contact span {
  color: gray;
  display: block;
}

.footer-support .highlight, .footer-contact .highlight {
  font-weight: bold;
  color: black;
}

.footer-copyright {
  text-align: center;
  margin-top: 1rem;
  color: gray;
  width: 100%;
}

@media (max-width: 720px) {
  .footer {
    text-align: center;
    padding: 2rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer-content div {
    margin: 0.5rem 0;
  }
}
