.home-container {
  display: flex;
  height: 100%;
  /* padding-bottom: 120px; */
  /* Ensure space for footer */
  
}

.image_preview_container {
  width: fit-content;
  height: fit-content;
  z-index: 0;
  mask-image: linear-gradient(to left, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}

.image {
  width: 70vw;
  height: 100vh;
  object-fit: cover;
}

/* Split the screen in half */
.split {
  height: calc(100% - 120px);
  /* Adjust height to fit within available space */
  width: 70%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
}

/* Control the left side */
.left {
  flex: 1; /* Make the left side take up all available space */
  padding: 20px; /* Adjust padding as needed */
  z-index: 10;
}

.right {
  flex: 1; /* Make the right side take up all available space */
  padding: 20px; /* Adjust padding as needed */
  z-index: 10;
}

