.game-item-badge {
    background-color: #e5e5e5 !important;
    color: #000000 !important;
    font-size: 16px !important;
    font-weight: bolder !important;
    padding: 10px !important;
    border-radius: 6px !important;
    height: 42px !important;
    display: flex;
    align-items: center;
}

.game-item-icon {
    font-size: 16px !important;
}

.online-item-badge {
    background-color: #346c52 !important;
    color: #ffffff !important;
}

.game-items {
    min-height: 10rem !important;
}