/* Панель с описанием игры */
.show-game-describe {
    width: 80%;
    margin: 2px 5px 5px 17px;
}

/* Картинка игры */
.show-game-icon {
    width: 15%;
    margin: 8px 0px 8px 8px;
    border: 1px solid black; 
    max-width: 100px;
    max-height: 100px; 
    aspect-ratio: 1/1;
}

/* Контейнер с заголовком (названием) */
.show-game-button-block {
    width: 75%;
    text-align: left;
    display: inline-block;
}

/* Название игры (кнопка с переходом к игре) */
.show-game-button {
    border: 0px;
    background: none;
    color: rgb(87, 170, 247);
    padding: 0 0 0 0;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: underline;
}

/* Верхнего компонент game-item */
.show-game-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    border-radius: 7px;
}

/* Кнопка отписки (в виде иконки) */
.show-game-unsubscribe-button {
    padding: 0 0 0 0;
    background: none;
    border: none;
    margin: 0 0 0 0;
}

/* Кнопка подписки */
.show-game-subscribe-button {
    width: 100%;
    padding: 0px 2px 1px 2px;
    border: none;
    background: rgb(77, 167, 250);
}

/* Конейнер с кнопкой подписки */
.show-game-subscribing-panel {
    width: 25%;
    text-align: right;
    display: inline-block;
}