.incoming-friend-request-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: white;
    border-radius: 7px;
}

.friend-avatar {
    border: 1px solid black;
    max-width: 40px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 100%;
}