.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, sans-serif;
  min-height: 90vh;
}

.not-found-text {
  text-align: center;
}

.not-found-text h2 {
  font-size: 2.1em;
  color: #ff2600;
  /* Coral color */
}

.not-found-text p {
  font-size: 1.1em;
}


.not-found-text h2{
  font-family: 'Arial , sans-serif';
}

.not-found-text p {
  font-family: 'Arial, serif';
}

.home-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #f53737ef;
  color: white;
  border: none;
  border-radius: 5px;
}

.home-button:hover {
  background-color: #750404cc;
}